doctype html
html
  head
    title Authentication using passport
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/toastr.min.css')
    script(src="/javascripts/jquery-3.1.1.min.js", charset="utf-8")
    script(src="/javascripts/toastr.min.js", charset="utf-8")
    script(src="/javascripts/product.js", charset="utf-8")
    style.
      body { padding-top:80px; }
  body
    block content
